.recipe {
    text-align: left;
    color: #bc6c25;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: #fefae0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  }
  
  
  .recipe li{
    text-align: left;
  }
  